
.text{
    -fx-font-family: 'Jena Gotisch';
    -fx-font-size: 30;
}
@font-face {
    src: url('JenaGotisch.ttf');
}
#txtaMusicList {
    -fx-font-family: 'Jena Gotisch';
    -fx-font-size: 30;
    -fx-padding: -1 0 -1 0;
    -fx-text-fill: black;
    -fx-background-color: transparent;
}
#txtaMusicList .scroll-pane .viewport{
    -fx-background-color: transparent;
}
#txtaMusicList .scroll-pane {
    -fx-hbar-policy: never;
    -fx-vbar-policy: never;
}
#txtaMusicList .text {
    -fx-text-alignment: left;
}

#txtaMusicList .content {
    -fx-background-color: transparent;
	-fx-background-image: url("pergamin_middle.png");
	-fx-background-position: top, center;
	-fx-background-size: 100% auto;
	-fx-background-repeat: repeat-y;
    -fx-padding: 0 60 0 60;
}
#imageUp {
    -fx-background-color: transparent;
	-fx-background-image: url("pergamin_up.png");
	-fx-background-repeat: no-repeat;
	-fx-background-position: top, center;
	-fx-background-size: stretch;
}
#imageDown {
    -fx-background-color: transparent;
	-fx-background-image: url("pergamin_down.png");
	-fx-background-position: top, center;
	-fx-background-size: stretch;
}
#parentBox {
	-fx-background-color: cyan;
}

.button {
    -fx-background-color: transparent;
	-fx-background-image: url("pergamin_middle.png");
	-fx-background-size: stretch;
    -fx-text-fill: black;
}
#btnPlay{
    -fx-background-color: transparent;
	-fx-background-image: url("pergamin_down.png");
	-fx-background-size: stretch;
    -fx-text-fill: black;
}
#btnStop {
    -fx-background-color: transparent;
	-fx-background-image: url("pergamin_up.png");
	-fx-background-size: stretch;
    -fx-text-fill: black;
}
.thumb {
    -fx-background-color: transparent;
	-fx-background-image: url("pergamin_middle.png");
	-fx-background-size: stretch;
}
.track {
     -fx-background-color: transparent;
 	-fx-background-image: url("pergamin_middle.png");
 	-fx-background-size: stretch;
}

.menu-bar, .menu-item, .context-menu {
 	-fx-background-image: url("pergamin_middle.png");
}
.label {
     -fx-text-fill: black;
}